header{
  background-color: lightgray
  text align: center;
  padding: 25px;
}

.navbar{
  background-color: darkblue
  height: 50px;
}
  /* border-style: solid; */


html {
  font-size: 20px;
}

body {
    background-color: rgb(54, 54, 171);
    color: darkgreen
    font-family antic slab, serif
      }

.heading-container {
  display:flex;
  justify-content: space-evenly;
}

h1, h2 {
  text-align: center;
  font-family:'Courier New', Courier, monospace
  text-decoration; underline:
  width 50%;
  display: inline-block;
}

p {
  padding: 10px;
  font-weight: bold;
  /* text-align: right; */
  /* text-align: left; */
  /* text-align: center; */
  /* text-align: justify; */
}

header {
  background-color: rgb(24, 24, 137);
}

[type=text], [type=email] {
  padding: 5px;
}
p {
  border: 3px solid black
}

.logo {
  color:black;
  text-decoration: none;
  margin-left: 25px;
}

.introduction {
  font-size: 25px;
  text-align: center;
  color: black
}

.profile-image {
  width: 230px;
  

}
.profile {
  background-color: white;
}